nav {
  /* height: 150px; */
  max-width: 100%;
}
.nav-mini-bar {
  display: none;
}
#nthw-logo {
  font-family: 'Staatliches', cursive;
  font-size: 8rem;
  color: #222;
  text-decoration: none;
  position: relative;
  top: -25px;
  /* float: left; */
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  float: right;
  flex-shrink: 3;
}

.nav-bar li {
  list-style: none;
  margin-right: 30px;
  font-family: 'Bebas Neue', cursive;
  color: #222;
}
.nav-bar a:any-link {
  font-size: 3rem;
  text-decoration: none;
}

@media (max-width: 1040px) {
  .nav-bar a:any-link {
    display: none;
  }
}
@media (max-width: 1040px) {
  .nav-mini-bar {
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 3rem;
    margin-right: 20px;
    margin-top: 20px;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    color: #222;
  }
}
@media (max-width: 1040px) {
  .nav-mini-bar a:any-link {
    text-decoration: none;
  }
}
.navbar__link--active {
  color: #fff;
}
.logo__link--active {
  color: #fff;
}
.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  margin: auto;
  margin-top: 25px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  /* border-top: 2px solid #222; */
}
.social-icons {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
}
#footer-copyright {
  grid-column-start: 3;
  grid-column-end: 4;
  font-family: 'Bebas Neue', cursive;
  color: #222;
  font-size: 0.8rem;
  align-self: end;
  justify-self: end;
  /* float: right; */
  margin-right: 10px;
}

.footer-social-icon img {
  color: #222;
  width: 20px;
  margin-right: 20px;
  stroke: #222;
}
.contact-info {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 10px;
  font-family: 'Source Sance Pro', sans-serif;
  font-size: 1rem;
  color: #222;
}
#email a:any-link {
  text-decoration: none;
}
#email #name #phone {
  margin-bottom: 20px;
}
