@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@200;300;400;600;900&family=Staatliches&display=swap');
/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Staatliches', cursive; */

* {
  background-color: #e04038;
  margin: 0;

  color: #222;
  font-size: 20px;
}
* h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
}
.headline {
  width: 70%;
  margin: auto;
}
.headline h1 {
  font-family: 'Source Sance Pro', sans-serif;
  font-size: 2rem;
  color: #222;
  margin: 20px;
}
.home-page {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}
.header {
  width: 450px;
  font-family: 'Source Sance Pro', sans-serif;
  font-size: 2rem;
  color: #fff;
  margin: 20px;
}
#red-portrait img {
  width: 250px;
  /* height: 300px; */
  border: 5px solid #000;
  border-radius: 150px;
}
#info {
  padding-bottom: 65px;
  border-top: 10px solid #222;
  margin-bottom: 65px;
}
.about-page {
  width: 55%;
  margin: auto;
}
.about-page h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  color: #222;
}
.about-page p {
  padding: 10px 15px 25px 15px;
  /* background-color: #fdd; */
  font-family: 'Source Sance Pro', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}

.port-list img {
  width: 350px;
  border-top: 5px solid #222;
  display: flex;
}
.port-item {
  display: inline-flex;
  flex-direction: column;
  margin-left: 45px;
  align-items: center;
}

.project-descript {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.port-item a:any-link {
  text-decoration: none;
}
.port-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.project-lang {
  font-family: 'Source Sance Pro', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}
